/*head_box*/
.head-box {
  width: 100%;
  height: 38px;
  background: #f5f4f4;
  border: 1px solid #e6e6e6; }
  .head-box .head {
    width: 1190px;
    height: 38px;
    line-height: 38px;
    background: #f5f4f4;
    font-size: 12px;
    margin: 0 auto; }
    .head-box .head .head_left {
      float: left; }
      .head-box .head .head_left span:first-child {
        color: #a7a7a4; }
      .head-box .head .head_left a:nth-child(3) {
        margin-left: 10px;
        color: red; }
      .head-box .head .head_left a:nth-child(4) {
        margin-left: 40px;
        color: #7f7f7a; }
      .head-box .head .head_left span:nth-child(5) {
        font-size: 10px;
        margin: 0 11px; }
      .head-box .head .head_left a:nth-child(6) {
        color: #7f7f7a; }
    .head-box .head .head_right {
      float: right; }
      .head-box .head .head_right ul li {
        float: left;
        margin-left: 10px; }
        .head-box .head .head_right ul li a {
          color: #7F7F7A; }
      .head-box .head .head_right ul li:first-child {
        position: relative; }
        .head-box .head .head_right ul li:first-child:hover .The_arrow {
          display: inline-block;
          transition: all 0.3s;
          transform: rotateZ(180deg); }
        .head-box .head .head_right ul li:first-child .The_arrow_TheMenu {
          display: none;
          position: absolute;
          background: #fff;
          line-height: 25px;
          width: 80px;
          border: 1px solid #999;
          border-top: 0; }
        .head-box .head .head_right ul li:first-child:hover {
          background: #fff; }
        .head-box .head .head_right ul li:first-child:hover .The_arrow_TheMenu {
          display: block; }
      .head-box .head .head_right ul li:nth-child(3) {
        position: relative; }
        .head-box .head .head_right ul li:nth-child(3) .QrCode {
          width: 90px;
          height: 90px;
          position: absolute;
          display: none;
          background: #fff; }
          .head-box .head .head_right ul li:nth-child(3) .QrCode img {
            width: 90%;
            height: 90%;
            position: absolute;
            left: 5%;
            top: 5%; }
        .head-box .head .head_right ul li:nth-child(3):hover {
          background: #fff; }
        .head-box .head .head_right ul li:nth-child(3):hover .QrCode {
          display: block; }
      .head-box .head .head_right ul li:nth-child(4) {
        position: relative; }
        .head-box .head .head_right ul li:nth-child(4) .AppQrCode {
          width: 90px;
          background: #fff;
          display: none;
          position: absolute; }
          .head-box .head .head_right ul li:nth-child(4) .AppQrCode img {
            width: 90%;
            position: relative;
            left: 5%;
            top: 6px; }
          .head-box .head .head_right ul li:nth-child(4) .AppQrCode h3 {
            height: 18px; }
          .head-box .head .head_right ul li:nth-child(4) .AppQrCode span {
            color: red; }
        .head-box .head .head_right ul li:nth-child(4):hover {
          background: #fff; }
        .head-box .head .head_right ul li:nth-child(4):hover .AppQrCode {
          display: block; }
      .head-box .head .head_right ul li:nth-child(5):hover {
        background: #fff; }
        .head-box .head .head_right ul li:nth-child(5):hover:hover span {
          display: inline-block;
          transition: all 0.3s;
          transform: rotateZ(180deg); }
      .head-box .head .head_right ul li:nth-child(6):hover {
        background: #fff; }

/*hear_search*/
.head_search_box {
  width: 100%;
  background: #fff; }
  .head_search_box .head_search {
    width: 1190px;
    height: 90px;
    background: #fff;
    padding-top: 30px;
    margin: 0 auto;
    overflow: hidden; }
    .head_search_box .head_search .index_logo {
      float: left; }
    .head_search_box .head_search .index_logo2 {
      float: left;
      margin-left: 15px; }
  .head_search_box .search {
    width: 588px;
    height: 36px;
    border: 1px solid orangered;
    float: left;
    margin-left: 20px; }
    .head_search_box .search div .seaech_left {
      width: 56px;
      height: 36px;
      background: #fff;
      border: 0;
      float: left; }
    .head_search_box .search .seaech_center {
      float: left;
      width: 462px;
      height: 34px;
      background: #fff;
      border: 0;
      text-align: left;
      color: #7F7F7A; }
    .head_search_box .search .seaech_right {
      float: left;
      width: 70px;
      height: 36px;
      background: red;
      border: 0; }
    .head_search_box .search ul {
      padding-top: 10px; }
      .head_search_box .search ul li a {
        color: #7F7F7A; }
      .head_search_box .search ul li a {
        float: left;
        font-size: 12px;
        margin-right: 10px; }
        .head_search_box .search ul li a:hover {
          color: #e3393c; }
      .head_search_box .search ul li:first-child a {
        color: #e3393c; }
  .head_search_box .head_logo_right {
    float: right;
    position: relative;
    top: -10px; }

/*CommodityType*/
.CommodityTypeBox {
  width: 100%;
  background: #fff; }
  .CommodityTypeBox .CommodityType {
    width: 1190px;
    margin: 0 auto;
    background: #fff;
    height: 36px;
    line-height: 36px; }
    .CommodityTypeBox .CommodityType li {
      float: left; }
    .CommodityTypeBox .CommodityType li:first-child {
      width: 200px;
      height: 36px;
      background: #dd0207; }
      .CommodityTypeBox .CommodityType li:first-child a {
        margin-left: 15px;
        color: #fff; }
    .CommodityTypeBox .CommodityType li:nth-child(2) {
      margin-left: 56px;
      margin-right: 78px; }
      .CommodityTypeBox .CommodityType li:nth-child(2) a {
        color: red;
        border-bottom: 3px solid red;
        padding-bottom: 5px; }
    .CommodityTypeBox .CommodityType li:nth-child(3) {
      margin-right: 78px; }
      .CommodityTypeBox .CommodityType li:nth-child(3) a {
        color: #7F7F7A; }
      .CommodityTypeBox .CommodityType li:nth-child(3):hover a {
        color: red; }
    .CommodityTypeBox .CommodityType li:nth-child(4) a {
      color: #7F7F7A; }
    .CommodityTypeBox .CommodityType li:nth-child(4):hover a {
      color: red; }

/*ShufflingFigure*/
.ShufflingFigureBox {
  width: 100%;
  height: 491px;
  position: relative; }
  .ShufflingFigureBox .ShufflingFigure {
    overflow: hidden; }
    .ShufflingFigureBox .ShufflingFigure .ShufflingFigureBtn {
      position: absolute;
      left: 50%;
      bottom: 20px;
      z-index: 100; }
      .ShufflingFigureBox .ShufflingFigure .ShufflingFigureBtn span {
        display: block;
        width: 15px;
        height: 15px;
        margin-left: 15px;
        border-radius: 50%;
        background: #fff;
        float: left; }
    .ShufflingFigureBox .ShufflingFigure li {
      position: absolute; }
      .ShufflingFigureBox .ShufflingFigure li a {
        display: block;
        width: 100%;
        height: 100%; }
    .ShufflingFigureBox .ShufflingFigure li:first-child {
      background-image: url(../images/1.jpg);
      width: 100%;
      height: 491px; }
    .ShufflingFigureBox .ShufflingFigure li:nth-child(2) {
      background-image: url(../images/2.jpg);
      width: 100%;
      height: 491px; }
    .ShufflingFigureBox .ShufflingFigure li:nth-child(3) {
      background-image: url(../images/3.jpg);
      width: 100%;
      height: 491px; }
    .ShufflingFigureBox .ShufflingFigure li:nth-child(4) {
      background-image: url(../images/4.jpg);
      width: 100%;
      height: 491px; }
    .ShufflingFigureBox .ShufflingFigure li:last-child {
      background-image: url(../images/1.jpg);
      width: 100%;
      height: 491px; }